{{ 'custom-product-card.css' | asset_url | stylesheet_tag }}

{% assign image = product.featured_image %}
{% assign compare_at_price = product.compare_at_price %}

<a href="{{ product.url }}" class="custom-product-card">
  <div class="custom-product-card__square-block">
    {% if image %}
      <picture>
        <source
          srcset="{{ image | image_url: width: 295, height: 295 }} 1x, {{ image | image_url: width: 590, height: 590 }} 2x"
          media="(max-width: 768px)">

        <img class="custom-product-card__image"
             srcset="{{ image | image_url: width: 400, height: 400 }} 1x, {{ image | image_url: width: 800, height: 800 }} 2x"
             src="{{ image | image_url: width: 400, height: 400 }}"
             alt="{{ image.alt }}">
      </picture>
    {% else %}
      <div class="custom-product-card__image">
        {{ 'product-apparel-3' | placeholder_svg_tag }}
      </div>
    {% endif %}
  </div>

  <div class="custom-product-card__info">
    <p class="custom-product-card__title">{{ product.title }}</p>
    <div class="custom-product-card__price-wrapper">
      <span class="custom-product-card__price">{{ product.price | money }}</span>
      {% if compare_at_price %}
        <span class="custom-product-card__compare-price">{{ compare_at_price | money }}</span>
      {% endif %}
    </div>
  </div>
</a>
