{{ "banner.css" | asset_url | stylesheet_tag }}

{% assign heading = section.settings.heading %}
{% assign text = section.settings.text %}

{% if heading != blank and text != blank %}
  <section class="custom-section page-width">
    {% assign image_desktop = section.settings.image_desktop %}
    {% assign image_mobile = section.settings.image_mobile | default: image_desktop %}
    {% assign min_desktop_height = section.settings.desktop_banner_min_height %}
    {% assign min_mobile_height = section.settings.mobile_banner_min_height %}
    {% assign video_mobile = section.settings.video_mobile %}

    {% capture banner_styles %}
      --banner-overlay: {{ section.settings.overlay }};
      --desktop-min-height: {{ min_desktop_height }}px;
      --mobile-min-height: {{ min_mobile_height }}px;
    {% endcapture %}

    <div class="custom-banner" style="{{ banner_styles }}">
      {% if section.settings.media_type == "html5_video" and section.settings.video_desktop != blank %}
        <video
          class="custom-banner__media {% if video_mobile != blank %}custom-banner--desktop-display{% endif %}"
          autoplay loop muted>
          {% for video_source in section.settings.video_desktop.sources %}
            <source
              src="{{ video_source.url }}"
              type="{{ video_source.mime_type }}"
            />
          {% endfor %}
          Your browser doesn't support HTML5 video tag.
        </video>

        {% if video_mobile != blank %}
          <video class="custom-banner__media custom-banner--mobile-display" autoplay loop muted>
            {% for video_source_mob in video_mobile.sources %}
              <source
                src="{{ video_source_mob.url }}"
                type="{{ video_source_mob.mime_type }}"
              >
            {% endfor %}
            Your browser doesn't support HTML5 video tag.
          </video>
        {% endif %}
        {% comment %} Chrome не підтримує media queries, щоб уникнути використання js використовується два video тега {% endcomment %}
      {% else %}
        {% assign double_min_desktop_height = min_desktop_height | times: 2 %}
        {% assign double_min_mobile_height = min_mobile_height | times: 2 %}

        {% if image_desktop != blank %}
          <picture>
            <source
              srcset="{{ image_mobile | image_url: width: 343, height: min_mobile_height }} 1x, {{ image_mobile | image_url: width: 686, height: double_min_mobile_height }} 2x"
              media="(max-width: 767px)">

            <img
              class="custom-banner__media"
              srcset="{{ image_desktop | image_url: width: 1648, height: min_desktop_height }} 1x, {{ image_desktop | image_url: width: 3296, height: double_min_desktop_height }} 2x"
              src="{{ image_desktop | image_url: width: 1648, height: min_desktop_height }}"
              alt="{{ image_desktop.alt }}">
          </picture>
        {% endif %}
      {% endif %}

      <div class="custom-banner__content-wrapper" style="--text-color: {{ section.settings.text_color }}">
        <div class="custom-banner__content">
          {% assign button_link = section.settings.button_link %}

          {% if heading != blank %}
            <h2 class="custom-banner__heading">{{ heading }}</h2>
          {% endif %}

          {% if text != blank %}
            <div class="custom-banner__text">{{ text }}</div>
          {% endif %}

          {% if button_link != blank %}
            {% capture button_styles %}
              --button-text-color: {{ section.settings.button_text_color }};
              --button-text-hover: {{ section.settings.button_text_hover }};
              --button-background-color: {{ section.settings.button_background }};
              --button-background-hover: {{ section.settings.button_background_hover }}
            {% endcapture %}

            <a href="{{ button_link }}" class="custom-banner__button"
               style="{{ button_styles }}">{{ section.settings.button_label }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "id": "desktop_banner_min_height",
      "type": "select",
      "options": [
        {
          "value": "200",
          "label": "200px"
        },
        {
          "value": "250",
          "label": "250px"
        },
        {
          "value": "300",
          "label": "300px"
        },
        {
          "value": "350",
          "label": "350px"
        },
        {
          "value": "400",
          "label": "400px"
        },
        {
          "value": "450",
          "label": "450px"
        },
        {
          "value": "500",
          "label": "500px"
        },
        {
          "value": "550",
          "label": "550px"
        },
        {
          "value": "600",
          "label": "600px"
        },
        {
          "value": "650",
          "label": "650px"
        },
        {
          "value": "700",
          "label": "700px"
        },
        {
          "value": "750",
          "label": "750px"
        },
        {
          "value": "800",
          "label": "800px"
        }
      ],
      "default": "600",
      "label": "Desktop banner min height"
    },
    {
      "id": "mobile_banner_min_height",
      "type": "select",
      "options": [
        {
          "value": "200",
          "label": "200px"
        },
        {
          "value": "250",
          "label": "250px"
        },
        {
          "value": "300",
          "label": "300px"
        },
        {
          "value": "350",
          "label": "350px"
        },
        {
          "value": "400",
          "label": "400px"
        },
        {
          "value": "450",
          "label": "450px"
        },
        {
          "value": "500",
          "label": "500px"
        },
        {
          "value": "550",
          "label": "550px"
        },
        {
          "value": "600",
          "label": "600px"
        },
        {
          "value": "650",
          "label": "650px"
        },
        {
          "value": "700",
          "label": "700px"
        },
        {
          "value": "750",
          "label": "750px"
        },
        {
          "value": "800",
          "label": "800px"
        }
      ],
      "default": "600",
      "label": "Mobile banner min height"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "Text"
    },
    {
      "id": "button_label",
      "type": "text",
      "label": "Button label",
      "default": "Click me"
    },
    {
      "id": "button_link",
      "type": "url",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "id": "media_type",
      "type": "select",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "html5_video",
          "label": "HTML5 video"
        }
      ],
      "label": "Media type"
    },
    {
      "id": "image_desktop",
      "type": "image_picker",
      "label": "Image desktop"
    },
    {
      "id": "image_mobile",
      "type": "image_picker",
      "label": "Image mobile"
    },
    {
      "id": "video_desktop",
      "type": "video",
      "label": "Video desktop"
    },
    {
      "id": "video_mobile",
      "type": "video",
      "label": "Video mobile"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "id": "overlay",
      "type": "color_background",
      "label": "Overlay",
      "default": "rgba(0, 0, 0, 0.3)"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Text",
      "default": "#fff"
    },
    {
      "id": "button_text_color",
      "type": "color",
      "label": "Button text",
      "default": "#000"
    },
    {
      "id": "button_background",
      "type": "color_background",
      "label": "Button background",
      "default": "#fff"
    },
    {
      "id": "button_text_hover",
      "type": "color",
      "label": "Button text (hover)",
      "default": "#000"
    },
    {
      "id": "button_background_hover",
      "type": "color_background",
      "label": "Button background (hover)",
      "default": "#fff"
    }
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
