<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js" defer></script>
<script src="{{ 'posts-swiper.js' | asset_url }}" defer="defer"></script>
{{ 'section-blog-posts-custom.css' | asset_url | stylesheet_tag }}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
>

{% if section.settings.blog.articles.size > 0 %}
  <section class="page-width blog-posts">
    <div class="swiper js-posts-swiper">
      <div class="blog-posts__content swiper-wrapper">
        {% for article in section.settings.blog.articles limit: 3 -%}
          {% assign image = article.image %}

          <div class="blog-posts__post swiper-slide">
            <a class="blog-posts__img-wrapper" href="{{ article.url }}">
              <picture>
                <source
                  media="(max-width: 500px)"
                  srcset="
                    {% if image %}
                      {{- image | image_url: width: 343, height: 206 -}}
                    {% else %}
                      {% if section.settings.default-image %}
                        {{- section.settings.default-image | image_url: width: 343, height: 206 -}}
                      {% else %}
                        {{ 'image-placeholder.jpeg' | asset_url }}
                      {% endif %}
                    {% endif %}
                  "
                >
                <img
                  class="blog-posts__post-img"
                  src="
                    {% if image %}
                      {{- image | image_url: width: 539, height: 268 -}}
                    {% else %}
                      {% if section.settings.default-image %}
                        {{- section.settings.default-image | image_url: width: 539, height: 268 -}}
                      {% else %}
                        {{ 'image-placeholder.jpeg' | asset_url }}
                      {% endif %}
                    {% endif %}
                  "
                  loading="eager"
                  width="539"
                  height="268"
                  alt="{{ image.alt }}"
                >
              </picture>
            </a>
            <div class="blog-posts__post-content-container">
              <div class="blog-posts__about-post">
                {% if article.tags.size > 0 %}
                  <div class="blog-posts__post-tag">{{ article.tags | first }}</div>
                {% endif %}

                <div class="blog-posts__post-info-wrapper">
                  <img src="{{ 'clock.svg' | asset_url }}" width="16" height="16" alt="Clock icon" loading="eager">
                  <span class="blog-posts__post-info">{{ article.published_at | date: '%B %d %Y' }}</span>
                </div>

                <div class="blog-posts__post-info-wrapper">
                  <img src="{{ 'message.svg' | asset_url }}" width="16" height="16" alt="Message icon" loading="eager">
                  <span class="blog-posts__post-info">
                    {{- article.comments_count }}

                    <span class="blog-posts__comments-word">
                      {% if article.comments_count == 1 %}
                        comment
                      {% else -%}
                        comments
                      {% endif %}
                    </span>
                  </span>
                </div>
              </div>

              <h2 class="blog-posts__post-title">{{ article.title }}</h2>
              <div class="blog-posts__excerpt-or-content">{{ article.excerpt_or_content }}</div>

              <div class="blog-posts__post-footer-info">
                <a href="{{ article.url }}" class="blog-posts__post-link">Read More</a>

                <div class="blog-posts__post-info">
                  <img
                    class="blog-posts__author-avatar"
                    src="
                      {% if article.metafields.custom.author_image %}
                        {{ article.metafields.custom.author_image | image_url: width: 64, height: 64 }}
                      {% else %}
                        {{ 'avatar-placeholder.jpeg' | asset_url }}
                      {% endif %}
                    "
                    srcset="{{ article.metafields.custom.author_image | image_url: width: 32, height: 32 }} 1x, {{ article.metafields.custom.author_image | image_url: width: 64, height: 64 }} 2x"
                    width="32"
                    height="32"
                    loading="eager"
                  >
                  <span>By {{ article.author }}</span>
                </div>
              </div>
            </div>
          </div>
        {%- endfor %}
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Blog posts custom",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "image_picker",
      "id": "default-image",
      "label": "Default Image"
    }
  ],
  "presets": [{ "name": "Blog posts custom" }]
}
{% endschema %}
