{{ "contact-us.css" | asset_url | stylesheet_tag }}

{% assign contact_form = 'contactUsForm--' | append: section.id %}
{% assign heading = section.settings.heading %}
{% assign text = section.settings.text %}
{% assign address_icon = section.settings.address_icon %}
{% assign address_heading = section.settings.address_heading %}
{% assign address_text = section.settings.address_text %}
{% assign phone_icon = section.settings.phone_icon %}
{% assign phone_heading = section.settings.phone_heading %}
{% assign phone_text = section.settings.phone_text %}
{% assign email_icon = section.settings.email_icon %}
{% assign email_heading = section.settings.email_heading %}
{% assign email_text = section.settings.email_text %}
{% assign schedule_icon = section.settings.schedule_icon %}
{% assign schedule_heading = section.settings.schedule_heading %}
{% assign schedule_text = section.settings.schedule_text %}
{% assign button_first_label = section.settings.button_first_label %}
{% assign button_first_link = section.settings.button_first_link %}
{% assign button_second_label = section.settings.button_second_label %}
{% assign button_second_link = section.settings.button_second_link %}
{% assign map_code = section.settings.map_code %}
{% assign map_image = section.settings.map_image %}
{% assign contact_heading = section.settings.contact_heading %}
{% assign store_image = section.settings.store_image %}

<section class="contact-us custom-section page-width">
  {% if heading != blank or text != blank %}
    <div class="contact-us__store-info-wrapper">
      <div class="contact-us__info-content">
        {% if heading != blank or text != blank %}
          <div class="contact-us__info-heading-wrapper">
            {% if heading != blank %}
              <h4 class="contact-us__info-title">{{ heading }}</h4>
            {% endif %}

            {% if text != blank %}
              <div class="contact-us__info-text">{{ text }}</div>
            {% endif %}
          </div>
        {% endif %}

        {% if address_heading != blank and address_text != blank %}
          <div
            class="contact-us__point-wrapper">
            <div class="contact-us__point-heading">
              {% if address_icon != blank %}
                <img class="contact-us__point-icon"
                     srcset="{{ address_icon | image_url: width: 24, height: 24 }} 1x, {{ address_icon | image_url: width: 48, height: 48 }} 2x"
                     src="{{ address_icon | image_url: width: 24, height: 24 }}"
                     alt="{{ seciton.settings.address_icon.alt }}">
              {% endif %}

              {{ address_heading }}
            </div>
            <div class="contact-us__point-text">
              {{ address_text }}
            </div>
          </div>
        {% endif %}

        {% if phone_heading != blank and phone_text != blank %}
          <div class="contact-us__point-wrapper">
            <div class="contact-us__point-heading">
              {% if phone_icon != blank %}
                <img class="contact-us__point-icon"
                     srcset="{{ phone_icon | image_url: width: 24, height: 24 }} 1x, {{ phone_icon | image_url: width: 48, height: 48 }} 2x"
                     src="{{ phone_icon | image_url: width: 24, height: 24 }}"
                     alt="{{ phone_icon.alt }}">
              {% endif %}

              {{ phone_heading }}
            </div>
            <div class="contact-us__point-text">{{ phone_text }}</div>
          </div>
        {% endif %}

        {% if email_heading != blank and email_text != blank %}
          <div class="contact-us__point-wrapper">
            <div class="contact-us__point-heading">
              {% if email_icon != blank %}
                <img class="contact-us__point-icon"
                     srcset="{{ email_icon | image_url: width: 24, height: 24 }} 1x, {{ email_icon | image_url: width: 48, height: 48 }} 2x"
                     src="{{ email_icon | image_url: width: 24, height: 24 }}"
                     alt="{{ email_icon.alt }}">
              {% endif %}

              {{ email_heading }}
            </div>
            {% comment %} Не зроблено посиланням, щоб користувач сам мав можливість його додати в кастомайзері {% endcomment %}
            <div class="contact-us__point-text">{{ email_text }}</div>
          </div>
        {% endif %}

        {% if schedule_heading != blank and schedule_text != blank %}
          <div
            class="contact-us__point-wrapper">
            <div class="contact-us__point-heading">
              {% if schedule_icon != blank %}
                <img class="contact-us__point-icon"
                     srcset="{{ schedule_icon | image_url: width: 24, height: 24 }} 1x, {{ schedule_icon | image_url: width: 48, height: 48 }} 2x"
                     src="{{ schedule_icon | image_url: width: 24, height: 24 }}"
                     alt="{{ schedule_icon.alt }}">
              {% endif %}

              {{ schedule_heading }}
            </div>
            <div class="contact-us__point-text">{{ schedule_text }}</div>
          </div>
        {% endif %}

        <div class="contact-us__btns">
          {% if button_first_link != blank and button_first_label != blank %}
            <a href="{{ button_first_link }}"
               class="contact-us__btn contact-us__btn--filled">{{ button_first_label }}</a>
          {% endif %}

          {% if button_second_link != blank and button_second_label != blank %}
            <a href="{{ button_second_link }}" class="contact-us__btn">{{ button_second_label }}</a>
          {% endif %}
        </div>
      </div>

      <div class="contact-us__img-wrapper">
        <picture>
          <source srcset="{{ store_image | image_url: width: 343, height: 340 }}"
                  media="(max-width: 750px)">

          <img
            class="contact-us__img"
            srcset="{{ store_image | image_url: width: 816, height: 800 }} 1x, {{ store_image | image_url: width: 1632, height: 1600 }} 2x"
            src="{{ store_image | image_url: width: 816, height: 800 }}"
            alt="{{ store_image.alt }}">
        </picture>
      </div>
    </div>
  {% endif %}

  {% if map_code != blank or map_image != blank %}
    <div class="contact-us__map-wrapper">
      <div class="contact-us__map-content">
        {% if map_code != blank %}
          {{ map_code }}
        {% else %}
          <a href="{{ section.settings.map_link }}" target="_blank">
            <picture>
              <source srcset="{{ map_image | image_url: width: 345, height: 280 }}"
                      media="(max-width: 750px)">

              <img class="contact-us__map-img"
                   srcset="{{ map_image | image_url: width: 1648, height: 480 }} 1x, {{ map_image | image_url: width: 3296, height: 960 }} 2x"
                   src="{{ map_image | image_url: width: 1648, height: 480 }}"
                   alt="{{ map_image.alt }}">
            </picture>
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% form 'contact', id: contact_form %}
    <div class="contact-us__form-wrapper">
      {% if contact_heading != blank %}
        <h4 class="contact-us__form-heading">{{ contact_heading }}</h4>
      {% endif %}

      {% if form.posted_successfully? %}
        <div class="contact-us__form-status contact-us__form--success">
          {% render 'icon-success' -%}
          {{ section.settings.success_message }}
        </div>
      {% elsif form.errors %}
        <div class="contact-us__form-status contact-us__form--error">
          {%- render 'icon-error' -%}
          There was an error with your submission. Please try again.
        </div>
      {% endif %}

      <div class="contact-us__inputs">
        <div class="contact-us__input-wrapper contact-us__input-name">
          <label for="name">Name <span class="contact-us__asterisk">*</span></label>
          <input class="contact-us__input" type="text" name="contact[name]" id="name" placeholder="Enter your name"
                 required/>
        </div>

        <div class="contact-us__input-wrapper contact-us__input-email">
          <label for="email">Email</label>
          <input class="contact-us__input" type="email" name="contact[email]" id="email"
                 placeholder="john.smith@example.com"/>
        </div>

        <div class="contact-us__input-wrapper">
          <label for="phone">Phone <span class="contact-us__asterisk">*</span></label>
          <input class="contact-us__input" type="tel" name="contact[phone]" id="phone"
                 placeholder="Enter your phone number" required/>
        </div>

        <div class="contact-us__input-wrapper">
          <label for="message">Message</label>
          <textarea class="contact-us__input contact-us__textarea" name="contact[body]" id="message"
                    placeholder="Enter your message"></textarea>
        </div>
      </div>

      <button class="contact-us__btn contact-us__btn--filled contact-us__btn--centered" type="submit">
        Send a message
      </button>
    </div>
  {% endform %}
</section>

{% schema %}
{
  "name": "Contact us",
  "settings": [
    {
      "type": "header",
      "content": "Store information"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "Text"
    },
    {
      "id": "address_heading",
      "type": "text",
      "label": "Address heading"
    },
    {
      "id": "address_text",
      "type": "richtext",
      "label": "Address text"
    },
    {
      "id": "address_icon",
      "type": "image_picker",
      "label": "Address icon"
    },
    {
      "id": "phone_heading",
      "type": "text",
      "label": "Phone heading"
    },
    {
      "id": "phone_text",
      "type": "richtext",
      "label": "Phone text"
    },
    {
      "id": "phone_icon",
      "type": "image_picker",
      "label": "Phone icon"
    },
    {
      "id": "email_heading",
      "type": "text",
      "label": "Email heading"
    },
    {
      "id": "email_text",
      "type": "richtext",
      "label": "Email text"
    },
    {
      "id": "email_icon",
      "type": "image_picker",
      "label": "Email icon"
    },
    {
      "id": "schedule_heading",
      "type": "text",
      "label": "Schedule heading"
    },
    {
      "id": "schedule_text",
      "type": "richtext",
      "label": "Schedule text"
    },
    {
      "id": "schedule_icon",
      "type": "image_picker",
      "label": "Schedule icon"
    },
    {
      "id": "button_first_label",
      "type": "text",
      "label": "Button first label",
      "default": "Send a message"
    },
    {
      "id": "button_first_link",
      "type": "url",
      "label": "Button first link"
    },
    {
      "id": "button_second_label",
      "type": "text",
      "label": "Button second label",
      "default": "Support"
    },
    {
      "id": "button_second_link",
      "type": "url",
      "label": "Button second link"
    },
    {
      "id": "store_image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Map"
    },
    {
      "id": "map_image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "map_link",
      "type": "url",
      "label": "Link"
    },
    {
      "id": "map_code",
      "type": "textarea",
      "label": "Google map code"
    },
    {
      "type": "header",
      "content": "Contact form"
    },
    {
      "id": "contact_heading",
      "type": "text",
      "label": "Contact heading"
    },
    {
      "id": "success_message",
      "type": "textarea",
      "label": "Success message",
      "default": "Success"
    }
  ],
  "presets": [
    {
      "name": "Contact us"
    }
  ]
}
{% endschema %}
