{{ 'section-images-gallery.css' | asset_url | stylesheet_tag }}

{% assign divide_number = section.settings.per-row-desktop | divided_by: 2 %}
{% assign divide_number_mob = section.settings.per-row-mobile | plus: 0 %}
{% assign half_of_gap = 16 | divided_by: divide_number %}
{% assign img_width_default = 816 | divided_by: divide_number | minus: half_of_gap %}
{% assign img_width_991 = 959 | divided_by: divide_number_mob %}
{% assign img_width_767 = 737 | divided_by: divide_number_mob %}
{% assign img_width_480 = 448 | divided_by: divide_number_mob %}
{% assign img_width_380 = 348 | divided_by: divide_number_mob %}

{% if section.settings.aspect-ratio == "square" %}
  {% assign img_height_default = img_width_default %}
  {% assign img_height_991 = img_width_991 %}
  {% assign img_height_767 = img_width_767 %}
  {% assign img_height_480 = img_width_480 %}
  {% assign img_height_380 = img_width_380 %}
{% else %}
  {% assign img_height_default = img_width_default | times: 66 | divided_by: 100 %}
  {% assign img_height_991 = img_width_991 | times: 66 | divided_by: 100 %}
  {% assign img_height_767 = img_width_767 | times: 66 | divided_by: 100 %}
  {% assign img_height_480 = img_width_480 | times: 66 | divided_by: 100 %}
  {% assign img_height_380 = img_width_380 | times: 66 | divided_by: 100 %}
{% endif %}

{% if section.blocks.size > 0 %}
  <section class="custom-section page-width">
    <div
      style="--cards-per-row-desktop: {{ section.settings.per-row-desktop }}; --cards-per-row-mobile: {{ section.settings.per-row-mobile }}"
      class="gallery__images-wrapper">
      {% for block in section.blocks %}
        <div class="gallery__image-wrapper gallery__image-wrapper--{{ section.settings.aspect-ratio }}"
             style="--overlay-color: {{ section.settings.overlay_color }}">
          <picture>
            <source media="(max-width: 380px)" srcset="
            {% if block.settings.image %}
              {% assign double_img_width_380 = img_width_380 | times: 2 %}
              {% assign double_img_height_380 = img_height_380 | times: 2 %}

              {{ block.settings.image | image_url: width: img_width_380, height: img_height_380 }} 1x, {{ block.settings.image | image_url: width: double_img_width_380, height: double_img_height_380 }} 2x
                {% else %}
              {{ 'image-placeholder.jpeg' | asset_url }}
            {% endif %}">

            <source media="(max-width: 480px)" srcset="
            {% if block.settings.image %}
              {% assign double_img_width_480 = img_width_480 | times: 2 %}
              {% assign double_img_height_480 = img_height_480 | times: 2 %}

              {{ block.settings.image | image_url: width: img_width_480, height: img_height_480 }} 1x, {{ block.settings.image | image_url: width: double_img_width_480, height: double_img_height_480 }} 2x
                {% else %}
              {{ 'image-placeholder.jpeg' | asset_url }}
            {% endif %}">

            <source media="(max-width: 767px)" srcset="
            {% if block.settings.image %}
              {% assign double_img_width_767 = img_width_767 | times: 2 %}
              {% assign double_img_height_767 = img_height_767 | times: 2 %}

              {{ block.settings.image | image_url: width: img_width_767, height: img_height_767 }} 1x, {{ block.settings.image | image_url: width: double_img_width_767, height: double_img_height_767 }} 2x
                {% else %}
              {{ 'image-placeholder.jpeg' | asset_url }}
            {% endif %}">

            <source media="(max-width: 991px)" srcset="
            {% if block.settings.image %}
              {% assign double_img_width_991 = img_width_991 | times: 2 %}
              {% assign double_img_height_991 = img_height_991 | times: 2 %}

              {{ block.settings.image | image_url: width: img_width_991, height: img_height_991 }} 1x, {{ block.settings.image | image_url: width: double_img_width_991, height: double_img_height_991 }} 2x
                {% else %}
              {{ 'image-placeholder.jpeg' | asset_url }}
            {% endif %}">

            <img class="gallery__image"
              {% if block.settings.image %}
                {% assign double_img_width_default = img_width_default | times: 2 %}
                {% assign double_img_height_default = img_height_default | times: 2 %}

                srcset="{{ block.settings.image | image_url: width: img_width_default, height: img_height_default }} 1x, {{ block.settings.image | image_url: width: double_img_width_default, height: double_img_height_default }} 2x"
                src="{{ block.settings.image | image_url: width: img_width_default, height: img_height_default }}"
              {% else %}
                src="{{ "image-placeholder.jpeg" | asset_url }}"
              {% endif %}
                 alt="{{ block.settings.image.alt | default: "Gallery image" }}">
          </picture>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}


{% schema %}
{
  "name": "Images gallery",
  "settings": [
    {
      "type": "select",
      "id": "per-row-desktop",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "6",
          "label": "6"
        }
      ],
      "label": "Cards per row desktop",
      "default": "6"
    },
    {
      "type": "select",
      "id": "per-row-mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "label": "Cards per row mobile",
      "default": "2"
    },
    {
      "type": "select",
      "id": "aspect-ratio",
      "options": [
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        }
      ],
      "label": "Image aspect ratio"
    },
    {
      "id": "overlay_color",
      "type": "color_background",
      "label": "Overlay color",
      "default": "rgba(0,0,0, 0.3)"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Images gallery"
    }
  ]
}
{% endschema %}
