<script src="{{ "page-faq.js" | asset_url }}" defer></script>
{{ "page-faq.css" | asset_url | stylesheet_tag }}

{% if section.blocks.size > 0 %}
  <section class="custom-section--large-padding page-width">
    <h1 class="faq__title">{{ section.settings.heading | default: page_title }}</h1>
    <div class="faq__container">
      <div class="faq__menu js-faq-menu">
        {% for block in section.blocks %}
          {% assign heading = block.settings.heading %}

          {% if block.type == "group" %}
            {% if heading != blank %}
              <a class="faq__btn js-faq-links" href="#{{ heading }}"
                 data-target="{{ block.settings.heading }}">{{ heading }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="faq__content-wrapper">
        {% for block in section.blocks %}
          {% assign heading = block.settings.heading %}
          {% assign answer = block.settings.answer %}
          {% assign question = block.settings.question %}
          {% assign icon = block.settings.icon %}

          {% if block.type == "group" %}
            {% if heading != blank %}
              <h2 class="faq__group-name" id="{{ heading }}">{{ heading }}</h2>
            {% endif %}
          {% else %}
            {% if answer != blank or question != blank %}
              <div class="faq__accordion js-faq-accordion">
                <button
                  class="faq__question-accordion">
                  {% if icon %}
                    <img
                      class="faq__icon"
                      srcset="{{ icon | image_url: width: 24, height: 24 }} 1x, {{ icon | image_url: width: 48, height: 48 }} 2x"
                      src="{{ icon | image_url: width: 24, height: 24 }}"
                      alt="{{ icon.alt }}">
                  {% endif %}

                  {{ question }}
                  {% render "icon-caret" %}
                </button>
                <div class="faq__answer" data-target="answer">{{ answer }}</div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "FAQ page",
  "settings": [
    {
      "id": "heading",
      "type": "text",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "group",
      "name": "Group",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "id": "question",
          "type": "text",
          "label": "Question"
        },
        {
          "id": "answer",
          "type": "richtext",
          "label": "Answer"
        },
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ page"
    }
  ]
}
{% endschema %}