<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js" defer></script>
<script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
{{ "section-trend-products.css" | asset_url | stylesheet_tag }}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
>

{% if section.blocks.size > 0 %}
  <section class="trend-products custom-section page-width">
    <div class="swiper js-trend-products-swiper">
      <div class="swiper-wrapper trend-products__content-wrapper">
        {% for block in section.blocks %}
          {% if block.settings.card_image != blank %}
            <div class="swiper-slide trend-products__product">
              <picture>
                <source srcset="{{ block.settings.card_image | image_url: width: 343, height: 498 }}"
                        media="(max-width: 767px)">
                <img class="trend-products__img"
                     srcset="{{ block.settings.card_image | image_url: width: 400, height: 498 }} 1x, {{ block.settings.card_image | image_url: width: 800, height: 996 }} 2x"
                     src="{{ block.settings.card_image | image_url: width: 400, height: 498 }}"
                     alt="{{ block.settings.card_image.alt }}">
              </picture>

              {% for index in (1..4) %}
                {% assign product = "product_" | append: index %}
                {% assign x_position = "spot_horizontal_position_" | append: index %}
                {% assign y_position = "spot_vertical_position_" | append: index %}

                {% if block.settings[product] != blank %}
                  {% render 'hot-spot-with-modal',
                    product: block.settings[product],
                    x-position: block.settings[x_position],
                    y-position: block.settings[y_position] %}
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>

      {% render 'swiper-pagination-custom' %}
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Trend products",
  "max_blocks": 4,
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "id": "card_image",
          "type": "image_picker",
          "label": "Card image"
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "id": "product_1",
          "type": "product",
          "label": "Product"
        },
        {
          "id": "spot_horizontal_position_1",
          "type": "range",
          "min": 0,
          "max": 90,
          "step": 1,
          "default": 0,
          "unit": "%",
          "label": "Spot horizontal position"
        },
        {
          "id": "spot_vertical_position_1",
          "type": "range",
          "min": 0,
          "max": 90,
          "step": 1,
          "default": 0,
          "unit": "%",
          "label": "Spot vertical position"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "id": "product_2",
          "type": "product",
          "label": "Product"
        },
        {
          "id": "spot_horizontal_position_2",
          "type": "range",
          "min": 0,
          "max": 90,
          "step": 1,
          "default": 0,
          "unit": "%",
          "label": "Spot horizontal position"
        },
        {
          "id": "spot_vertical_position_2",
          "type": "range",
          "min": 0,
          "max": 90,
          "step": 1,
          "default": 0,
          "unit": "%",
          "label": "Spot vertical position"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "id": "product_3",
          "type": "product",
          "label": "Product"
        },
        {
          "id": "spot_horizontal_position_3",
          "type": "range",
          "min": 0,
          "max": 90,
          "step": 1,
          "default": 0,
          "unit": "%",
          "label": "Spot horizontal position"
        },
        {
          "id": "spot_vertical_position_3",
          "type": "range",
          "min": 0,
          "max": 90,
          "step": 1,
          "default": 0,
          "unit": "%",
          "label": "Spot vertical position"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "id": "product_4",
          "type": "product",
          "label": "Product"
        },
        {
          "id": "spot_horizontal_position_4",
          "type": "range",
          "min": 0,
          "max": 90,
          "step": 1,
          "default": 0,
          "unit": "%",
          "label": "Spot horizontal position"
        },
        {
          "id": "spot_vertical_position_4",
          "type": "range",
          "min": 0,
          "max": 90,
          "step": 1,
          "default": 0,
          "unit": "%",
          "label": "Spot vertical position"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trend products"
    }
  ]
}
{% endschema %}