{% layout none %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quick view</title>
</head>
<body>
<section class="js-quick-view-section">
  {% assign images = product.images %}
  {% assign title = product.title %}
  {% assign price = product.price %}

  <div class="quick-view-cnt__container">
    <div class="quick-view-cnt__info-wrapper-mobile">
      <h4 class="quick-view-cnt__title">{{ title }}</h4>
      <span class="quick-view-cnt__price">{{ price | money }}</span>
    </div>

    <div class="quick-view-cnt__gallery">
      <div class="swiper js-swiper-large-img">
        <div class="swiper-wrapper">
          {% for image in images %}
            <div class="swiper-slide quick-view-cnt__aspect-ratio-wrapper">
              <picture>
                <source
                  srcset="{{ image | image_url: width: 327, height: 327 }} 1x, {{ image | image_url: width: 654, height: 654 }} 2x"
                  media="(max-width: 768px)">

                <img class="quick-view-cnt__img"
                     srcset="{{ image | image_url: width: 480, height: 480 }} 1x, {{ image | image_url: width: 960, height: 960 }} 2x"
                     src="{{ image | image_url: width: 480, height: 480 }}"
                     alt="{{ image.alt }}">
              </picture>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next">
          <img class="quick-view-cnt__arrow-icon" src="{{ 'arrow-right.svg' | asset_url }}" alt="Next image">
        </div>
        <div class="swiper-button-prev">
          <img class="quick-view-cnt__arrow-icon" src="{{ 'arrow-right.svg' | asset_url }}" alt="Previous image">
        </div>
      </div>

      <div class="quick-view-cnt__bottom-slider swiper js-swiper-small-img">
        <div class="swiper-wrapper">
          {% for image in images %}
            <div class="swiper-slide quick-view-cnt__aspect-ratio-wrapper">
              <img class="quick-view-cnt__img"
                   srcset="{{ image | image_url: width: 73, height: 73 }} 1x, {{ image | image_url: width: 146, height: 146 }} 2x"
                   src="{{ image | image_url: width: 73, height: 73 }}"
                   alt="{{ image.alt }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="quick-view-cnt">
      <div class="quick-view-cnt__info-wrapper">
        <h4 class="quick-view-cnt__title">{{ title }}</h4>
        <span class="quick-view-cnt__price">{{ price | money }}</span>
      </div>

      {% for product_option in product.options_with_values %}
        <div>
          {{ product_option.name }}

          <div class="quick-view-cnt__variants">
            {% for value in product_option.values %}
              <div class="quick-view-cnt__variant">
                <input type="radio" id="{{ value | handleize }}" name="{{ product_option.name | handleize }}"
                       {% if forloop.first %}checked{% endif %} {% if forloop.last %}disabled{% endif %}>
                <label for="{{ value | handleize }}">{{ value }}</label>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}

      <div class="quick-view-cnt__quantity js-quick-view-quantity">
        <button class="quick-view-cnt__quantity-btn" data-value="decrement">-</button>
        <span class="quick-view-cnt__counter js-quick-view-counter">1</span>
        <button class="quick-view-cnt__quantity-btn" data-value="increment">+</button>
      </div>

      <div class="quick-view-cnt__footer-wrapper">
        <button class="quick-view-cnt__submit">
          Add To Cart
        </button>

        <a href="{{ product.url }}" class="quick-view-cnt__visit-btn">
          <p class="quick-view-cnt__visit-btn-text">Visit Product Page</p>
          <img src="{{ 'arrow-right.svg' | asset_url }}" alt="Arrow right">
        </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
